<div class="container">
  <header class="header">
    <h1>Sketch Beamer</h1>
  </header>
  <nav class="nav">
    <ul>
      <li><a target="_blank" rel="noopener noreferrer" href="https://acarrara.github.io/sketch-beamer">GitHub</a></li>
      <li><a target="_blank" rel="noopener noreferrer" href="https://www.npmjs.com/package/sketch-beamer">Npm</a></li>
    </ul>
  </nav>
  <aside class="aside">
    <p>Html editor with dynamic loading of angular components.</p>
    <p>Inspired by <a target="_blank" rel="noopener noreferrer"
                      href="https://blog.angularindepth.com/here-is-what-you-need-to-know-about-dynamic-components-in-angular-ac1e96167f9e">this
      article</a>. You can use the <a target="_blank" rel="noopener noreferrer"
                                      href="https://docs.emmet.io/abbreviations/">emmet</a> notation.</p>
  </aside>
  <main class="main">
    <sb-sketch [modules]="modules"></sb-sketch>
  </main>
</div>
