$color-primary: rgba(0, 83, 159, 0.65);
$color-text-primary: #222;
$color-text-light: #999;
$color-text-secondary: white;

$font-serif: "Fira Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-mono: "Fira Mono", "Lucida Console", Monaco, monospace;
